
body {
    margin: 0;
    text-align: center;
    font-family: Comic Sans MS, cursive, san-serif;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px;
    font-family: cursive, sans-serif;
}

h2 {
    font-family: cursive, sans-serif;
    font-size: 2.5rem;
}


h3 {
    font-family: cursive, sans-serif;
    font-size: 2.5rem;
}

h4 {
    font-family: cursive, sans-serif;
    font-size: 5.625rem;

}

h5 {
    font-family: cursive, sans-serif;
    font-size: 2.5rem;
}


h6 {
    font-family: cursive, sans-serif;
    font-size: 2.5rem;
}







.top-container {
    background-color: #FFDB89;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}


.bottom-container {
    
}

.Full {
    text-decoration: underline;
}

.Stack {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 100px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 100px;
    bottom: 300px;
}