
body {
    margin: 0;
    text-align: center;
}

h1 {
    width: 10%;
    margin: 0 auto;
}

.top-container {
    background-color: #FFDB89;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: purple;
    width: 200px;
    height: 200px;
}

.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.Full {
    text-decoration: underline;
}

.Stack {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
}

.bottom-cloud {
    position: absolute;
}