
body {
    margin: 0;
    text-align: center;
    font-family: Comic Sans MS, cursive, san-serif;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: cursive, sans-serif;
    line-height: 5px;
    color: green;
    
}

h2 {
    font-family: cursive, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: cursive, sans-serif;
    font-size: 2.5rem;
}

.top-container {
    background-color: #FFDB89;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}


.bottom-container {
    
}

.skill-row {
    width: 50%;
    margin-top: 100%;
    margin-bottom: 100%;
    margin: auto;
    
}

.Full {
    text-decoration: underline;
    color: red;
}

.Stack {
    text-decoration: underline;
    color: darkcyan;
}

.Development {
    text-decoration: underline;
    color:blueviolet
}
.top-cloud {
    position: absolute;
    right: 100px;
    top: 50px;
    
}

.bottom-cloud {
    position: absolute;
    left: 100px;
    bottom: 300px;
}

.further {
    width: 25%;
}

.code {
    width: 18%;
}


.cloud-api {
    width: 37%;
}